body {
    background-color: black;
}

h1 {
    color: rgb(76, 76, 141);
}

h2 {
    color: white;
}

h4 {
    color: rgb(76, 76, 141);
}

h5 {
    color: rgb(76, 76, 141);
}

ul {
    color: rgb(76, 76, 141);
}